body{
    background-color: rgba(0, 0, 255, 0.619);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    width: 90%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.23);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}
div{
    text-align: center;
    padding: 8px;
}
section > div#foto > img{
    border-radius: 50% ;
    object-fit: cover;
    display: block;
    margin: 15px auto;
    width: 250px;
    height: 250px;
}
footer > p > a{
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
}

footer > p > a:hover{
    color: blue;
    font-weight: bold;
}
